################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SCPhakes/v16
/Release
/SCPhakes/Release
